@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
  background-color: hsl(148, 38%, 91%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#myForm{
  background-color: white;
  padding : 20px;
  line-height: 50px;
  /* margin-bottom: 5px; */
}

.name{
  /* background-color: pink; */
  display: flex;
  width: 100%;
  gap: 10px; 
  line-height: 50px;
  }
  
  #firstName, #lastName, #email, #inputMessage{
  /* background-color: yellow; */
  display: block;
  flex: 1; 
  width: 100%;
  line-height: 50px;
  }

  .inputTypes, #query_button{
    border: solid;
    background: none;
    border-width: 0.1px;
    border-color:  rgb(203, 201, 201);
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
  }

  .inputTypes:hover, #query_button:hover, #inputMessage:hover{
    cursor: pointer;
    border-color: hsl(169, 82%, 27%);
  }
  
  .inputTypes:focus, #query_button:focus, #inputMessage:hover {
    border-color: hsl(169, 82%, 27%); 
    outline: none; 
  }

  .query{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    line-height: 50px;
  }

  #query_button{
    width: 100%;
  }

  /* .text{
    background: pink;
    
  } */

  #inputMessage{
    border: solid;
    background: none;
    border-width: 0.1px;
    border-color:  rgb(203, 201, 201);
    border-radius: 5px;
  }

  

  .submitButton{ 
    height: 40px; 
    padding: 10px 20px; 
    background-color: hsl(169, 82%, 27%);
    /* margin-top: 40px; */
    color: #fff; 
    border: none;
    border-radius: 5px; 
    width: 100%;
  }
  
  .submitButton:hover{
    cursor: pointer;
    background-color:hsl(169, 82%, 13%);
  }
  
/* errors  */

input.error{
  border-color: hsl(0, 66%, 54%);
}

.error-message{
  color: hsl(0, 66%, 54%);
  display: none;
  margin-top: 5px;
}

/* Alert box styling */
.alert-box {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(169, 82%, 13%);
  border: none;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  height: 20px;
}

.alert-box span {
  display: block;
  font-size: 10px;
  color: white;
  line-height: 10px;
}

.message-sent{
  /* background-color: blue; */
  margin-top: -5px;
  margin-left: 15px;
  font-size: 10px;
  font-weight: 500;
}

img{
  height: 10px;
  /* background-color: pink; */
  position: absolute;
  top: 15px;
}



